{% extends "base.html" %}


{% block mytitle %}

{% endblock %}


{% block mycss %}
{% endblock %}


{% block body %}
    <div class="container py-5" style="min-height: 800px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 style="text-align: center;">Change Password</h2>
                <br>
                <h5 style="text-align: center;">Enter old password, new password and confirm new password</h5>
                <div class="card">
                    <div class="card-body">
                        {% if error_msg %}
                        <div class="alert alert-danger">
                            {{ error_msg }}
                        </div>
                        {% endif %}
                        {% if msg %}
                            <div class="alert alert-success">
                                {{ msg }}
                            </div>
                        {% endif %}
                        <form action="{{ url_for('staff_change_password') }}" method="post" id="myForm" onsubmit="return validateForm()">
                            <div class="input-group mb-3">
                                <label for="old_pw" class="input-group-text">
                                    Old Pasword <span style="color:red">*</span>
                                </label>
                                <input type="password" class="form-control" name="old_pw" id="old_pw" value="" required>
                            </div>
                            <p id="old_pw_msg" style="color: red"></p>
                            <div class="input-group mb-3">
                                <label for="new_pw" class="input-group-text">
                                    New password <span style="color:red">*</span>
                                </label>
                                <input type="password" class="form-control" name="new_pw" id="new_pw" value="" required>
                            </div>
                            <p id="new_pw_msg" style="color: red"></p>
                            <div class="input-group mb-3">
                                <label for="confirm_pw" class="input-group-text">
                                    Confirm New Password <span style="color:red">*</span>
                                </label>
                                <input type="password" class="form-control" name="confirm_pw" id="confirm_pw" value="" required>
                            </div>
                            <p id="confirm_pw_msg" style="color: red"></p>
                            <div class="d-grid gap-2">
                                <input type="submit" class="btn btn-warning" value="Update">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block myjs %}
<script>
    // validate password
    const old_pw_msg = document.getElementById('old_pw_msg');
    const new_pw_msg = document.getElementById('new_pw_msg');
    const confirm_pw_msg = document.getElementById('confirm_pw_msg');
    const old_pw = document.getElementById('old_pw');
    const new_pw = document.getElementById('new_pw');
    const confirm_pw = document.getElementById('confirm_pw');

    function validateForm() {
        if (new_pw.value.length < 8) {
            new_pw.classList.add("is-invalid");
            new_pw_msg.innerText = "Password is not strong enough. New password must be more than 8 characters";
            i = 1;
            return false;
        } else {
            new_pw.classList.remove("is-invalid");
            new_pw_msg.innerText = "";
        }
        if (confirm_pw.value !== new_pw.value) {
            confirm_pw.classList.add("is-invalid");
            confirm_pw_msg.innerText = "Password confirmed is not the same as new password. Please try again";
            i = 1;
            return false;
        } else {
            confirm_pw.classList.remove("is-invalid");
            confirm_pw_msg.innerText = "";
        }
        //submit form if only all validations are passed        
        return true;
    }
</script>
{% endblock %}