{% extends 'staff/manage_base.html' %}

<!--Customer List-->

{% block inside_css %}
    <style>
        table, th.header {
            vertical-align: middle;
        }

        td {
            vertical-align: middle;
            width: -75px;
        }
        table, th, td {
            background-color: transparent !important;
        }
        .input-group {
            float: none;
            width: 40%;
            margin-left: 30%;
            margin-top: 1%;
        }
    </style>
{% endblock %}

{% block inside_body %}
    <h1 class="my-4">Customer List</h1>
    <div class="mt-3">
        <form class="d-flex" action="{{ url_for('customer_list') }}" method="post">
            <div class="form-group">
                <input type="text" class="form-control mx-3" placeholder="Search" name="search" {% if customer_search %}value="{{ customer_search }}"{% endif %}>
            </div>
            <div class="form-group ml-2">
                <button type="submit" class="btn btn-primary mx-3">Search</button>
            </div>
        </form>
        <br>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <table class="table table-hover align-middle mb-0" id="myTable">
                    <thead>
                        <tr>
                            <th class="header">ID</th>
                            <th class="header">Name</th>
                            <th class="header">Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for customer in customers %}
                        <tr id="{{ customer.customer_id }}" style="cursor: pointer;">
                            <td>
                                <p class="fw-normal mb-1">{{ customer.customer_id }}</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">{{ customer.first_name }} {{ customer.last_name }}</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">{{ customer.phone_number }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block inside_js %}
<script>
    $(document).ready(function() {
        $("tr").click(function() {
            const rowId = $(this).attr('id');
            if(rowId) {
                window.location.href = "{{ url_for('customer_details') }}?customer_id=" + rowId;
            }
        });
    });
</script>
{% endblock %}