{% extends 'base.html' %}

{% block mycss %}
    <style>
        ul#remove {
            list-style-type: none;
        }

        li {
            padding: 10px 20px;
        }

        .btn {
            width: 50%;
            color: black;
        }

        .column {
            float: left;
            border: 1px solid black;
            text-align: center;
            width: 33.33%;
            padding: 10px;
            margin: 5% auto;
            box-sizing: border-box;
            background-color: #ffffff;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h4 class="text-uppercase">Dashboard - Staff</h4>
        <div class="row">
            <div class="column rounded">
                <h2>Manage Lists</h2>
                <ul style="list-style-type: none">
                    <li><a href="{{ url_for('customer_list') }}"><button type="button" class="btn btn-warning ">Customer List</button></a></li>
                    <li><a href="{{ url_for('maintenance_list') }}"><button type="button" class="btn btn-warning ">Maintenance List</button></a></li>
                    <li><a href="{{ url_for('return_list') }}"><button type="button" class="btn btn-warning ">Return List</button></a></li>
                    <li><a href="{{ url_for('equipment_list') }}"><button type="button" class="btn btn-warning ">Equipment List</button></a></li>
                    <li><a href="{{ url_for('check_out_list') }}"><button type="button" class="btn btn-warning ">Checkout List</button></a></li>
                </ul>
            </div>
            <div class="column rounded">
                <h2>Others</h2>
                <ul style="list-style-type: none">
                    <li><a href="{{ url_for('set_instance')}}"><button type="button" class="btn btn-warning ">Equipment Status</button></a></li>
                    <li><a href="{{ url_for('get_enquiries')}}"><button type="button" class="btn btn-warning ">Enquiries</button></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}