{% extends 'base.html' %}

{% block mycss %}
<style>
    table {
        vertical-align: middle;
    }
    td {
        vertical-align: middle;
        width: -75px;
    }
</style>
{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-10" style="text-align: center">
            <table class="table align-middle mb-0 bg-white">
                <thead>
                <tr>
                    <th class="header">Image</th>
                    <th class="header">Equipment Name</th>
                    <th class="header">Price($)</th>
                    <th class="header">Stock</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in equipment %}
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename=item.image_url) }}" class="img-thumbnail" width="100" height="100">
                    </td>
                    <td>
                        <a href="{{ url_for('more_detail', detail_id=item.equipment_id) }}">{{item.name}}</a>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{item.price}}</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{item.count}}</p>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock%}