{% extends "base.html" %}


{% block mytitle %}

{% endblock %}


{% block mycss %}
    <style>
        #navigation-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p {
            text-align: center;
        }

        .table-header {
            display: flex;
            justify-content: space-between;
            padding: 8px 0;
            background-color: #e5e5e5;
            border-bottom: 1px solid #1D1912;
            font-weight: bold;
        }

        .header-cell {
            text-align: center;
        }

        .header-cell:nth-child(1) {
            flex: 3; 

        }

        .header-cell:nth-child(2) {
            flex: 2; 

        }

        .header-cell:nth-child(3) {
            flex: 2; 

        }

        .header-cell:nth-child(4) {
            flex: 1; 

        }

        .header-cell:nth-child(5) {
            flex: 2; 

        }
    </style>
{% endblock %}


{% block body %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-8" style="text-align: center">
                <br>
                <h1>Return List</h1>
                <br>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="{{ url_for('return_list') }}" method="post">
                <div id="navigation-container">
                    <button type="submit" class="btn btn-dark mx-5 px-4" id="previous_day" name="previous_day" value="previous_day">&larr;</button>
                    <p id="date" class="px-3">{{ the_date }}</p>
                    <button type="submit" class="btn btn-dark mx-5 px-4" id="next_day" name="next_day" value="next_day">&rarr;</button>
                    <input type="hidden" name="the_date" id="the_date" value="{{ the_date }}">
                </div>
            </form>
            <br>
            {% if return_list %}
                <div class="table-header">
                    <div class="header-cell">Equipment Name</div>
                    <div class="header-cell">Customer ID</div>
                    <div class="header-cell">Return Time</div>
                    <div class="header-cell">Notes</div>
                    <div class="header-cell"></div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        {% for return in return_list %}
                            <form action="{{ url_for('return_list') }}" method="post">
                                <div class="row" style="margin: 5px;">
                                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                                        {{ return.name }}
                                    </div>
                                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                                        {{ return.customer_id }}
                                    </div>
                                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                                        {{ return.expected_return_datetime }}
                                    </div>
                                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                                        {{ return.notes }}
                                    </div>
                                    <div class="col-md-1 d-flex align-items-center justify-content-center">
                                        <input type="hidden" name="instance_id" id="instance_id" value="{{ return.instance_id }}">
                                        <input type="hidden" name="equipment_rental_status_id" id="equipment_rental_status_id" value="{{ return.equipment_rental_status_id }}">
                                        <input type="hidden" name="the_date" id="the_date" value="{{ the_date }}">
                                        <button type="submit" class="btn btn-primary">
                                            Return
                                        </button>
                                    </div>
                                </div>
                            </form>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>There is no equipment to return</p>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block myjs %}
{% endblock %}