{% extends 'staff/manage_base.html' %}

<!--Return list page-->

{% block inside_title %}
{% endblock %}


{% block inside_css %}
    <style>
        table, th.header, td {
            vertical-align: middle;
            text-align: center;
        }
        table, th, td {
            background-color: transparent !important;
        }
        #navigation-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p {
            text-align: center;
        }

        .table-header {
            display: flex;
            justify-content: space-between;
            padding: 8px 0;
            background-color: #e5e5e5;
            border-bottom: 1px solid #1D1912;
            font-weight: bold;
        }

        .header-cell {
            text-align: center;
        }

        .header-cell:nth-child(1) {
            flex: 3; 

        }

        .header-cell:nth-child(2) {
            flex: 2; 

        }

        .header-cell:nth-child(3) {
            flex: 2; 

        }

        .header-cell:nth-child(4) {
            flex: 1; 

        }

        .header-cell:nth-child(5) {
            flex: 2; 

        }
    </style>
{% endblock %}


{% block inside_body %}
    <div class="mt-3">
        <div class="row justify-content-center">
            <div class="col-md-8" style="text-align: center">
                <br>
                <h1>Return List</h1>
                <br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="{{ url_for('return_list') }}" method="post">
                <div id="navigation-container">
                    <button type="submit" class="btn btn-dark mx-5 px-4" id="previous_day" name="previous_day" value="previous_day">&larr;</button>
                    <p id="date" class="px-3">{{ the_date }}</p>
                    <button type="submit" class="btn btn-dark mx-5 px-4" id="next_day" name="next_day" value="next_day">&rarr;</button>
                    <input type="hidden" name="the_date" id="the_date" value="{{ the_date }}">
                </div>
            </form>
            <br>
            {% if return_list %}
                <table class="table table-hover align-middle mb-0" id="myTable">
                    <thead>
                        <tr>
                            <th class="header">Equipment Name</th>
                            <th class="header">Customer ID</th>
                            <th class="header">Pickup Time</th>
                            <th class="header">Notes</th>
                            <th class="header"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for return in return_list %}
                            <form action="{{ url_for('return_list') }}" method="post">
                                <tr style="cursor: pointer;">
                                    <td>
                                        <p class="fw-normal mb-1">{{ return.name }}</p>
                                    </td>
                                    <td>
                                        <p class="fw-normal mb-1">{{ return.customer_id }}</p>
                                    </td>
                                    <td>
                                        <p class="fw-normal mb-1">{{ return.expected_return_datetime }}</p>
                                    </td>
                                    <td>
                                        <p class="fw-normal mb-1">{{ return.notes }}</p>
                                    </td>
                                    <td>
                                        <input type="hidden" name="instance_id" id="instance_id" value="{{ return.instance_id }}">
                                        <input type="hidden" name="equipment_rental_status_id" id="equipment_rental_status_id" value="{{ return.equipment_rental_status_id }}">
                                        <input type="hidden" name="the_date" id="the_date" value="{{ the_date }}">
                                        <button type="submit" class="btn btn-primary">
                                            Return
                                        </button>
                                    </td>
                                </tr>
                            </form>
                        {% endfor %}
                    </tbody>
                </table>  
            {% else %}
                <p>There is no equipment to return</p>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block inside_js %}
{% endblock %}