{% extends "base.html" %}

{% block mytitle %}
    Bookings
{% endblock %}

{% block mycss %}

{% endblock %}


{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">User Bookings</h1>
        {% if bookings %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Equipment Name</th>
                    <th>Booking Date</th>
                    <th>Amount</th>
                    <th>Hire Start</th>
                    <th>Hire End</th>
                    <th>Modify Return Date</th>
                    <th>Delete Booking</th>

                </tr>
                </thead>
                <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.name }}</td>
                        <td>{{ booking.datetime }}</td>
                        <td>{{ booking.price }}</td>
                        <td>{{ booking.rental_start_datetime }}</td>
                        <td>{{ booking.expected_return_datetime }}</td>
                        <td>
                            <form action="{{ url_for('update_booking') }}" method="post">
                                <!-- Replace update_booking with your actual route for updating booking -->
                                <input type="date" name="new_end_date" required>
                                <input type="hidden" id="instance_id" name="instance_id" value="{{ booking.instance_id }}">
                                <button type="submit" class="btn btn-primary btn-sm">Update</button>
                            </form>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                    onclick="confirmDelete({{ booking.instance_id }}, {{ booking.hire_id }})">Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info" role="alert">
                No bookings found.
            </div>
        {% endif %}
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_booking') }}" method="post">
                        <input type="hidden" id="instance_id" name="instance_id">
                        <input type="hidden" id="hire_id" name="hire_id">
                        <button type="submit" class="btn btn-danger my-1">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>
        function confirmDelete(instance_id, hire_id) {
            document.getElementById("instance_id").value = instance_id;
            document.getElementById("hire_id").value = hire_id;
        }
    </script>
{% endblock %}
