{% extends "base.html" %}

{% block mytitle %}
    Bookings
{% endblock %}

{% block mycss %}

{% endblock %}


{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">User Bookings</h1>
        {% if bookings %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Equipment Name</th>
                    <th>Booking Date</th>
                    <th>Amount</th>
                    <th>Hire Start</th>
                    <th>Hire End</th>
                    <th>Extend Return Date</th>

                </tr>
                </thead>
                <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.name }}</td>
                        <td>{{ booking.datetime }}</td>
                        <td>{{ booking.price }}</td>
                        <td>{{ booking.rental_start_datetime }}</td>
                        <td>{{ booking.expected_return_datetime }}</td>
                        <td>
                            <form action="{{ url_for('update_booking') }}" method="post">
                                <input type="date" name="new_end_date" required>
                                <input type="time" name="new_end_time" required>
                                <input type="hidden" id="update_instance_id" name="instance_id" value="{{ booking.instance_id }}">
                                <input type="hidden" id="start_date" name="start_date" value="{{ booking.rental_start_datetime }}">
                                <input type="hidden" id="price_per_day" name="price" value="{{ booking.price }}">
                                <input type="hidden" id="update_hire_id" name="hire_id" value="{{ booking.hire_id }}">
                                <button type="submit" class="btn btn-primary btn-sm">Extend</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info" role="alert">
                No bookings found.
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block myjs %}
    <script>

    </script>
{% endblock %}
