{% extends "base.html" %}


{% block mytitle %}

{% endblock %}


{% block mycss %}
    <style>
        .label_style {
            font-size: 20px;
            line-height: 25px;
            cursor: pointer;
        }

        .label_style:hover {
            font-weight: 700;
        }

        .img-container {
            border: 1px solid #ebecee;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .img-container img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
        }

        .truncated-text {
            font-size: 18px;
            height: 55px;
            max-width: 580px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .image1-switcher {
            background-image: url('{{ url_for('static', filename='image/heart11.png') }}');
            background-size: cover;
            background-position: center;
            cursor: pointer;
        }

        .image1-switcher:hover {
            background-image: url('{{ url_for('static', filename='image/heart12.png') }}');
        }

        .image2-switcher {
            background-image: url('{{ url_for('static', filename='image/heart22.png') }}');
            background-size: cover;
            background-position: center;
            cursor: pointer;
        }

        .image2-switcher:hover {
            background-image: url('{{ url_for('static', filename='image/heart21.png') }}');
        }

    </style>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row py-3">
            <div class="col-md-3 col-sm-12">
                <h5 class="pt-5" style="color: #ff4c00; font-weight: 700;">Category</h5>
                <ul style="padding: 0; list-style: none;">
                    {% for category in get_classify()[0] %}
                        <li style="margin: 20px 0;">
                            <div>
                                <input type="radio" id="{{ category.category_id }}" style="display: none">
                                <label class="label_style label_name1" for="{{ category.category_id }}">{{ category.name.replace("-", " ") }}</label>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% if sub_list %}
                    <h5 class="pt-5" style="color: #ff4c00; font-weight: 700;">Sub Category</h5>
                    <ul style="padding: 0; list-style: none;">
                        {% for subcategory in sub_list['subcategories'] %}
                            <li style="margin: 20px 0;">
                                <div>
                                    <input type="radio" id="{{ subcategory }}" style="display: none">
                                    <label class="label_style label_name2" for="{{ subcategory }}">{{ subcategory.replace("-", " ") }}</label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="row py-3">
                    <div class="col-md-6 col-sm-12">
                        <div>
                            {% for i in range(1, equipment|length + 1) %}
                                <div class="img-container" id="image_list{{ i }}" style="background-color: white;{% if i != 1 %}display: none{% endif %}">
                                    <img src="{{ url_for('static', filename=equipment[i-1].image_url) }}" alt="{{ i }}"
                                         style="max-width: 660px; height: 400px;">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="my-2">
                            <div class="text-center">
                                {% for i in range(1, equipment|length + 1) %}
                                    <div class="img-container mx-auto d-inline-block" style="background-color: white; height: 100px;width: 100px;">
                                        <img src="{{ url_for('static', filename=equipment[i-1].image_url) }}" alt="{{ i }}"
                                             onclick="change_image({{ i }})">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 position-relative">
                        <p class="text-center pt-5" style="font-size: 35px">{{ equipment[0]['name'] }}</p>
                        <div class="d-flex justify-content-center" style="min-height: 75px">
                            <div class="truncated-text">{{ equipment[0]['description'] }}</div>
                        </div>
                        <div class="d-flex justify-content-center pt-3">
                            <table class="table table-bordered" style="max-width: 450px">
                                <thead>
                                <tr>
                                    {% set helf = equipment[0]['price']|float %}
                                    <th class="m-0" style="font-size: 23px">Half Day: $ {{ "%.2f"|format(helf * 0.75) }}</th>
                                    <th class="m-0" style="font-size: 23px">Full Day: $ {{ equipment[0]['price'] }} </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <p class="text-center">Current Quantity: {{ count }}</p>
                        <div class="d-flex justify-content-center pt-3">
                            <form action="/equipment_detail/{{ detail_id }}" method="post">
                                <input type="text" name="datetimes" placeholder="Select Date & Times" value="" style="width: 300px">
                                <input type="hidden" id="start_time">
                                <input type="hidden" id="end_time">
                                <input type="hidden" name="equipment_id" value="{{ equipment[0]['equipment_id'] }}">
                                <br>
                                {% if count == 0 %}
                                    <button type="button" class="btn btn-primary hire-button mt-3" style="font-size: 14px" disabled>Insufficient Quantity</button>
                                    <button type="button" class="btn btn-danger add-to-cart-button mt-3" style="font-size: 14px">Add To Cart</button>
                                {% else %}
                                    <button type="button" class="btn btn-primary hire-button mt-3" style="font-size: 14px">Hire Now</button>
                                    <button type="button" class="btn btn-danger add-to-cart-button mt-3" style="font-size: 14px">Add To Cart</button>
                                {% endif %}
                            </form>
                        </div>
                        <a href="{{ url_for('add_favorite', equipment_id=equipment[0]['equipment_id'] ) }}" id="favorite"
                           class="image1-switcher position-absolute top-0 end-0 mx-3 my-4" style="width: 20px;height:20px"></a>
                    </div>
                </div>
                <div>
                    <p>length: {{ equipment[0]['length'] }}</p>
                    <p>width: {{ equipment[0]['width'] }}</p>
                    <p>height: {{ equipment[0]['height'] }}</p>
                    <p>detail: {{ equipment[0]['detail'] }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block myjs %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script>
        $(function () {
            $('input[name="datetimes"]').daterangepicker({
                autoUpdateInput: false,
                timePicker: true,
                timePicker24Hour: true,
                minDate: new Date().fp_incr(1),
                maxDate: new Date().fp_incr(91),
                maxSpan: {"days": 7},
                locale: {
                    format: 'DD/M/Y HH:mm'
                }
            });
            $('input[name="datetimes"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/M/Y HH:mm') + ' - ' + picker.endDate.format('DD/M/Y HH:mm'));
            });

            $('input[name="datetimes"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });

        const elementsArray = [];
        for (let i = 1; i < {{equipment|length + 1}}; i++) {
            const element = $('#image_list' + i);
            if (element.length) {
                elementsArray.push(element);
            }
        }
        console.log(elementsArray)

        function change_image(i) {
            for (let j = 1; j < (elementsArray.length + 1); j++) {
                if (j === i) {
                    elementsArray[j - 1].removeAttr("style");
                    elementsArray[j - 1].css({'background-color': 'white'})
                } else {
                    elementsArray[j - 1].css({'display': 'none'})
                }
            }
        }

        $('.label_name1').on('click', function () {
            const labelContent = $(this).text().trim();
            window.location.href = "/equipments/" + labelContent.replace(/ /g, '-');
        });
        {% if sub_list %}
            $('.label_name2').on('click', function () {
                const labelContent1 = "{{ sub_list['name'] }}"
                const labelContent2 = $(this).text().trim();
                window.location.href = "/equipments/" + labelContent1 + "/" + labelContent2.replace(/ /g, '-');
            });
        {% endif %}
        {% if wishlist %}
            $('#favorite').removeClass("image1-switcher").addClass("image2-switcher");
            $('#favorite').attr('href', '{{ url_for('remove_favorite', equipment_id=equipment[0]['equipment_id']) }}');
        {% endif %}
    </script>

    <script>
        $('.hire-button, .add-to-cart-button').on('click', function (event) {
            event.preventDefault();

            const form = $(this).closest('form');

            if ($(this).hasClass('hire-button')) {
                form.attr('action', '/your_hire_route');
                form.submit();
            } else if ($(this).hasClass('add-to-cart-button')) {
                const currentProduct = $(this).closest('.row');
                const productImage = currentProduct.find('.img-container img');

                const clonedImage = productImage.clone()
                    .offset({
                        top: productImage.offset().top,
                        left: productImage.offset().left
                    })
                    .css({
                        'opacity': '0.5',
                        'position': 'absolute',
                        'height': '150px',
                        'width': '150px',
                        'z-index': '100'
                    })
                    .appendTo($('body'));

                clonedImage.animate({
                    'top': $('.cart-icon').offset().top,
                    'left': $('.cart-icon').offset().left,
                    'width': 50,
                    'height': 50
                }, 1000, function () {
                    clonedImage.remove();
                    form.attr('action', '/add_to_cart');
                    form.submit();
                });
            }
        });
    </script>
{% endblock %}