{% extends "base.html" %}


{% block mytitle %}

{% endblock %}


{% block mycss %}
    <style>
        .label_style {
            font-size: 20px;
            line-height: 25px;
            cursor: pointer;
        }

        .label_style:hover {
            font-weight: 700;
        }

        .img-container {
            border: 1px solid #ebecee;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .img-container img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
        }

        .truncated-text {
            font-size: 18px;
            height: 55px;
            max-width: 580px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .image1-switcher {
            background-image: url('{{ url_for('static', filename='image/heart11.png') }}');
            background-size: cover;
            background-position: center;
            cursor: pointer;
        }

        .image1-switcher:hover {
            background-image: url('{{ url_for('static', filename='image/heart12.png') }}');
        }

        .image2-switcher {
            background-image: url('{{ url_for('static', filename='image/heart22.png') }}');
            background-size: cover;
            background-position: center;
            cursor: pointer;
        }

        .image2-switcher:hover {
            background-image: url('{{ url_for('static', filename='image/heart21.png') }}');
        }
    </style>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row py-3">
            <div class="col-3">
                <h5 class="pt-5" style="color: #ff4c00; font-weight: 700;">Category</h5>
                <ul style="padding: 0; list-style: none;">
                    {% for category in category_list %}
                        <li style="margin: 20px 0;">
                            <div>
                                <input type="radio" id="{{ category.category_id }}" style="display: none">
                                <label class="label_style" for="{{ category.category_id }}">{{ category.name.replace("-", " ") }}</label>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-9">
                <div class="row py-3">
                    <div class="col-6">
                        <div>
                            {% for i in range(1, equipment|length + 1) %}
                                <div class="img-container" id="image_list{{ i }}" style="background-color: white;{% if i != 1 %}display: none{% endif %}">
                                    <img src="{{ url_for('static', filename=equipment[i-1].image_url) }}" alt="{{ i }}"
                                         style="max-width: 660px; height: 400px;">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="my-2">
                            <div class="text-center">
                                {% for i in range(1, equipment|length + 1) %}
                                    <div class="img-container mx-auto d-inline-block" style="background-color: white; height: 100px;width: 100px;">
                                        <img src="{{ url_for('static', filename=equipment[i-1].image_url) }}" alt="{{ i }}"
                                             onclick="change_image({{ i }})">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-6 position-relative">
                        <p class="text-center pt-5" style="font-size: 35px">{{ equipment[0]['name'] }}</p>
                        <div class="d-flex justify-content-center" style="min-height: 75px">
                            <div class="truncated-text">{{ equipment[0]['description'] }}</div>
                        </div>
                        <div class="d-flex justify-content-center pt-3">
                            <table class="table table-bordered" style="max-width: 450px">
                                <thead>
                                <tr>
                                    {% set helf = equipment[0]['price']|float %}
                                    <th class="m-0" style="font-size: 23px">Half-Day: $ {{ "%.2f"|format(helf * 0.75) }}</th>
                                    <th class="m-0" style="font-size: 23px">Full Day: $ {{ equipment[0]['price'] }} </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="d-flex justify-content-center pt-3">
                            <form action="/equipment_detail/{{ detail_id }}" method="post">
                                <input type="text" id="select_date" name="select_date" placeholder="Select Date..">
                                <input type="text" id="days" name="days" placeholder="Select Date..">
                                <input type="hidden" name="selected_date" id="selected_date" value="">
                                <input type="hidden" name="selected_days" id="selected_days" value="">
                                <button type="submit">submit</button>
                            </form>
                        </div>

                        <div class="d-flex justify-content-center pt-3">
                            <a href="#" class="btn btn-danger add-to-cart-button" style="font-size: 14px">Add To Cart</a>
                            <form action="/add_to_cart" method="post" class="add-to-cart-form" style="display: none;">
                            <input type="hidden" name="equipment_id" value="{{ equipment.equipment_id }}">
                        </form>
                        </div>

                        <a href="{{ url_for('add_favorite', equipment_id=equipment[0]['equipment_id'] ) }}" id="favorite"
                           class="image1-switcher position-absolute top-0 end-0 mx-3 my-4" style="width: 20px;height:20px"></a>
                    </div>
                </div>
                <div>
                    <p>length: {{ equipment[0]['length'] }}</p>
                    <p>width: {{ equipment[0]['width'] }}</p>
                    <p>height: {{ equipment[0]['height'] }}</p>
                    <p>detail: {{ equipment[0]['detail'] }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block myjs %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#select_date", {
            disable: ["2023-10-30", "2023-10-10"],
            minDate: new Date().fp_incr(1),
            maxDate: new Date().fp_incr(91),
            dateFormat: "d M Y",
        });
        flatpickr("#days", {
            mode: "range",
            disable: ["2023-10-30", "2023-10-10"],
            minDate: new Date().fp_incr(1),
            maxDate: new Date().fp_incr(91),
            dateFormat: "d M Y",
        });

        const elementsArray = [];
        for (let i = 1; i < {{equipment|length + 1}}; i++) {
            const element = $('#image_list' + i);
            if (element.length) {
                elementsArray.push(element);
            }
        }
        console.log(elementsArray)

        function change_image(i) {
            for (let j = 1; j < (elementsArray.length + 1); j++) {
                if (j === i) {
                    elementsArray[j - 1].removeAttr("style");
                    elementsArray[j - 1].css({'background-color': 'white'})
                } else {
                    elementsArray[j - 1].css({'display': 'none'})
                }
            }
        }

        $('label').on('click', function () {
            const labelContent = $(this).text().trim();
            window.location.href = "/equipments/" + labelContent.replace(/ /g, '-');
        });
        {% if wishlist %}
                $('#favorite').removeClass("image1-switcher").addClass("image2-switcher");
                $('#favorite').attr('href', '{{ url_for('remove_favorite', equipment_id=equipment[0]['equipment_id']) }}');
        {% endif %}
    </script>

    <script>
    $('.add-to-cart-button').on('click', function (event) {
        event.preventDefault();

        // 获取已选择的日期和days字段的值
        var selectedDate = $('#select_date').val();
        var selectedDays = $('#days').val();

        // 将已选择的日期和days字段的值设置到隐藏字段中
        $('#selected_date').val(selectedDate);
        $('#selected_days').val(selectedDays);

        var formData = {
            selected_date: selectedDate,
            selected_days: selectedDays,
            equipment_id: '{{ equipment.equipment_id }}'
        };

        var currentProduct = $(this).closest('.row');  // 找到包含 equipment 图片的父元素
        var productImage = currentProduct.find('.img-container img');  // 找到 equipment 图片
    
        // 克隆产品图片并设置样式
        var clonedImage = productImage.clone()
            .offset({
                top: productImage.offset().top,
                left: productImage.offset().left
            })
            .css({
                'opacity': '0.5',
                'position': 'absolute',
                'height': '150px',
                'width': '150px',
                'z-index': '100'
            })
            .appendTo($('body'));
    
        // 创建动画效果，将图片移动到购物车图标位置
        clonedImage.animate({
            'top': $('.cart-icon').offset().top,
            'left': $('.cart-icon').offset().left,
            'width': 50,
            'height': 50
        }, 1000, function () {
            clonedImage.remove();
    
            // 此处可以执行添加到购物车的操作，比如发送请求等
            // 然后提示用户添加成功等信息
            // 如果需要添加到购物车的数据，可以从当前产品的相关属性中获取
        });

        // 提交表单
        $('.add-to-cart-form').submit();
    })
    </script>

    
{% endblock %}