{% extends "base.html" %}


{% block mytitle %}

{% endblock %}


{% block mycss %}
    <style>
        .label_style {
            font-size: 20px;
            line-height: 25px;
            cursor: pointer;
        }

        .label_style:hover {
            font-weight: 700;
        }

        .img-container {
            width: 226px;
            height: 152px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin-left: 4px;
            margin-top: 1px;
        }

        .img-container img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            display: block;
        }

        .truncated-text {
            font-size: 12px;
            height: 54px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .image1-switcher {
            background-image: url('{{ url_for('static', filename='image/heart11.png') }}');
            background-size: cover;
            background-position: center;
            cursor: pointer;
        }

        .image1-switcher:hover {
            background-image: url('{{ url_for('static', filename='image/heart12.png') }}');
        }

        .image2-switcher {
            background-image: url('{{ url_for('static', filename='image/heart22.png') }}');
            background-size: cover;
            background-position: center;
            cursor: pointer;
        }

        .image2-switcher:hover {
            background-image: url('{{ url_for('static', filename='image/heart21.png') }}');
        }

        .tile_login {
            font-size: 12px;
            line-height: 15px;
            font-style: italic;
            color: #626262;
            margin: 5px 0;
            cursor: pointer;
        }

        .link_ {
            text-decoration: none;
            color: black;
        }

        .link_:hover {
            text-decoration: underline;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row py-3">
            <div class="col-md-3 col-sm-12">
                <h5 class="pt-5" style="color: #ff4c00; font-weight: 700;">Category</h5>
                <ul style="padding: 0; list-style: none;">
                    {% for category in get_classify()[0] %}
                        <li style="margin: 20px 0;">
                            <div>
                                <input type="radio" id="{{ category.category_id }}" style="display: none">
                                <label class="label_style label_name1" for="{{ category.category_id }}">{{ category.name.replace("-", " ") }}</label>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% if sub_list %}
                    <h5 class="pt-5" style="color: #ff4c00; font-weight: 700;">Sub Category</h5>
                    <ul style="padding: 0; list-style: none;">
                        {% for subcategory in sub_list['subcategories'] %}
                            <li style="margin: 20px 0;">
                                <div>
                                    <input type="radio" id="{{ subcategory }}" style="display: none">
                                    <label class="label_style label_name2" for="{{ subcategory }}">{{ subcategory.replace("-", " ") }}</label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="row">
                    {% for equipment in equipments %}
                        <div class="col py-3" style="max-height: 440px;max-width: 247px">
                            <div class="card card-wrapper position-relative" style="min-height: 420px;width: 237px">
                                <div class="img-container">
                                    <img src="{{ url_for('static', filename=equipment.image_url) }}" class="card-img-top" alt="">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title" style="min-height: 50px"><span style="font-size: 17px">
                                        <a href="/equipments/{{ equipment.ca_name }}/{{ equipment.sc_name }}/detail/{{ equipment.equipment_id }}"
                                           class="link_">{{ equipment.name }}</a>
                                    </span></h5>
                                    <p class="card-text truncated-text" title="{{ equipment.description }}">{{ equipment.description }}</p>
                                    <p class="card-text m-0" style="font-size: 28px">$ {{ equipment.price }}<span style="font-size: 14px">/Day</span></p>
                                    {% if check_permissions() < 2 %}
                                        {% if not check_permissions() %}
                                        <div class="tile_login pb-1">
                                            <a href="{{ url_for('login') }}" class="link_">Log in to your account</a>
                                        </div>
                                        {% endif %}
                                        <a href="/equipments/{{ equipment.ca_name }}/{{ equipment.sc_name }}/detail/{{ equipment.equipment_id }}"
                                           class="btn nav-link_ active" style="font-size: 14px">Hire Now</a>
                                    {% else %}
                                        {% if check_permissions() == 2 %}
                                            <a href="{{ url_for('more_detail', detail_id = equipment.equipment_id) }}" class="btn nav-link_ active" style="font-size: 14px">Manage</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <a href="{{ url_for('add_favorite', equipment_id=equipment.equipment_id ) }}" id="favorite{{ equipment.equipment_id }}"
                                   class="image1-switcher position-absolute top-0 end-0 mx-3 my-2" style="width: 20px;height:20px"></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation member_">
            <ul class="pagination justify-content-center">
                {% if count %}
                    {% for i in range(count) %}
                        <li class="page-item"><a class="page-link" href="?page={{ i + 1 }}{% if equipment_search %}&equipment={{ equipment_search }}{% endif %}">{{ i + 1 }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}


{% block myjs %}
    <script>
        $('.label_name1').on('click', function () {
            const labelContent = $(this).text().trim();
            window.location.href = "/equipments/" + labelContent.replace(/ /g, '-');
        });
        {% if sub_list %}
            $('.label_name2').on('click', function () {
                const labelContent1 = "{{ sub_list['name'] }}"
                const labelContent2 = $(this).text().trim();
                window.location.href = "/equipments/" + labelContent1 + "/" + labelContent2.replace(/ /g, '-');
            });
        {% endif %}
        {% if wishlist %}
            {% for i in wishlist %}
                $('#favorite{{ i['equipment_id'] }}').removeClass("image1-switcher").addClass("image2-switcher");
                $('#favorite{{ i['equipment_id'] }}').attr('href', '{{ url_for('remove_favorite', equipment_id=i['equipment_id']) }}');
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}