{% extends "base.html" %}


{% block mytitle %}

{% endblock %}


{% block mycss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}


{% block body %}
    {{ product }}
    <form action="/product_detail/{{ detail_id }}" method="post">
        <input type="text" id="select_date" name="select_date" placeholder="Select Date..">
        <input type="text" id="days" name="days" placeholder="Select Date..">
        <button type="submit">submit</button>
    </form>
{% endblock %}


{% block myjs %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#select_date", {
            disable: ["2023-10-30", "2023-10-10"],
            minDate: new Date().fp_incr(1),
            maxDate: new Date().fp_incr(91),
            dateFormat: "d M Y",
        });
        flatpickr("#days", {
            mode: "range",
            disable: ["2023-10-30", "2023-10-10"],
            minDate: new Date().fp_incr(1),
            maxDate: new Date().fp_incr(91),
            dateFormat: "d M Y",
        });
    </script>
{% endblock %}