{% extends "base.html" %}


{% block mytitle %}

{% endblock %}


{% block mycss %}
    <style>
        .relative {
            position: relative;
        }

        .asterisk {
            color: red;
            position: absolute;
            top: 10px; /* Center vertically */
            left: 10px; /* Distance from the left edge of the input box. Adjust as needed */
            transform: translateY(-50%); /* Centering adjustment */
            pointer-events: none; /* Ensure clicks 'pass through' to the input element */
        }

        .asterisk-inside {
            padding-left: 20px; /* Adjust as needed */
        }
    </style>
{% endblock %}


{% block body %}
    <div class="container py-5" style="min-height: 800px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 style="text-align: center;">Update Personal Information</h2>
                <br>
                <h5 style="text-align: center;">Click the fields to change details and press "Update" button to submit changes</h5>
                <div class="card">
                    <div class="card-body">
                        <form action="{{ url_for('edit_detail') }}" method="post" id="myForm1">
                            <div class="relative mb-3">
                                <label for="title" class="asterisk mt-2"><span style="color:red">*</span></label>
                                <select class="form-control asterisk-inside" name="title" id="title">
                                    <option value="" selected="selected" disabled>Choose Title</option>
                                    {% for title in title_list %}
                                        <option value="{{ title.title_id }}">{{ title.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="relative mb-3">
                                <label for="first_name" class="asterisk mt-2"><span style="color:red">*</span></label>
                                <input type="text" class="form-control asterisk-inside" name="first_name" id="first_name" value="{{ details_list.first_name }}" placeholder="Enter First Name" title="Enter First Name">
                            </div>
                            <div class="relative mb-3">
                                <label for="last_name" class="asterisk mt-2"><span style="color:red">*</span></label>
                                <input type="text" class="form-control asterisk-inside" name="last_name" id="last_name" value="{{ details_list.last_name }}" placeholder="Enter Last Name" title="Enter Last Name">
                            </div>
                            <div class="relative mb-3">
                                <label for="email" class="asterisk mt-2"><span style="color:red">*</span></label>
                                <input type="email" class="form-control asterisk-inside" name="email" id="email" value="{{ details_list.email }}" placeholder="Enter Email">
                            </div>
                            <div class="relative mb-3">
                                <label for="phone_number" class="asterisk mt-2"><span style="color:red">*</span></label>
                                <input type="text" class="form-control asterisk-inside" name="phone_number" id="phone_number" value="{{ details_list.phone_number }}" placeholder="Enter Phone Number" title="Enter Phone Number">
                            </div>
                            <div class="relative mb-3">
                                <label for="birth_date" class="asterisk mt-2"><span style="color:red">*</span></label>
                                <input type="text" class="form-control asterisk-inside" name="birth_date" id="birth_date" value="{{ details_list.birth_date }}" placeholder="Enter Date of Birth" title="Enter Date of Birth">
                            </div>
                            <div class="relative mb-3">
                                <label for="region" class="asterisk mt-2"><span style="color:red">*</span></label>
                                <select class="form-control asterisk-inside" name="region" id="region" onchange="update_region()">
                                    <option value="" selected="selected" disabled>Choose Region</option>
                                    {% for region in region_list %}
                                        <option value="{{ region.region_id }}">{{ region.region }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="relative mb-3">
                                <label for="city" class="asterisk mt-2"><span style="color:red">*</span></label>
                                <select class="form-control asterisk-inside" name="city" id="city">
                                    <option value="" selected="selected" disabled>Choose City</option>
                                </select>
                            </div>
                            <div class="relative mb-3">
                                <label for="street_name" class="asterisk mt-2"><span style="color:red">*</span></label>
                                <input type="text" class="form-control asterisk-inside" name="street_name" id="street_name" value="{{ details_list.street_name }}" placeholder="Enter Street" title="Enter Street">
                            </div>
                            <input type="hidden" id="user_id" name="user_id" value="{{ details_list.user_id }}">
                            <div class="d-grid gap-2">
                                <input type="submit" class="btn btn-warning" value="Update">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<form action="">
    <input type="hidden" value="{{ e_id }}" name="e_id">
    <button type="submit">submit</button>
</form>


{% block myjs %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        

        //birthdate validation
        flatpickr("#birth_date", {
            minDate: "01 01 1900",
            maxDate: "30 12 2004",
            dateFormat: "d M Y",
        });

        //city list validation (based on region list)
        const city_list = JSON.parse('{{ city_list|tojson }}');
        const region = document.getElementById('region');
        const city = document.getElementById('city');
        const title = document.getElementById('title');
        // set default value of title
        title.value = {{ details_list.title_id }};
        region.value = {{ details_list.region_id }};
        for (const i in city_list) {
            if (String(city_list[i].region_id) === region.value) {
                const option = document.createElement('option');
                option.value = city_list[i].city_id;
                option.text = city_list[i].city;
                city.appendChild(option);
            }
        }
        city.value = {{ details_list.city_id }};

        function update_region() {
            city.innerHTML = '<option value="" disabled>Choose city</option>';
            for (const i in city_list) {
                if (String(city_list[i].region_id) === region.value) {
                    const option = document.createElement('option');
                    option.value = city_list[i].city_id;
                    option.text = city_list[i].city;
                    city.appendChild(option);
                }
            }
        }

        // Add the 'regex' custom validation method
        $.validator.addMethod("regex", function (value, element, regexpr) {
            return regexpr.test(value);
        }, "Invalid value.");

        $.validator.addMethod("phoneNZ", function (value, element) {
            return this.optional(element) || /^02\d{7,10}$/.test(value);
        }, "Please enter a valid New Zealand mobile number");

        $("#myForm1").validate({
            rules: {
                title: "required",
                first_name: "required",
                last_name: "required",
                email: {
                    required: true,
                    regex: /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/
                },
                phone_number: {
                    required: true,
                    phoneNZ: true
                },
                birth_date: "required",
                region: "required",
                city: "required",
                street_name: "required",
            },
            messages: {
                email: {
                    required: "Please enter email address",
                    regex: "Please enter a valid email address"
                },
                phone_number: {
                    required: "Please enter the phone number",
                    phoneNZ: "Please enter a valid New Zealand mobile number"
                },
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                error.addClass('text-danger');
                error.insertAfter(element);
                element.addClass('is-invalid');
            },
            success: function (label, element) {
                $(element).removeClass('is-invalid');
            }
        });
        $('#myForm1').on('submit', function (event) {
            event.preventDefault();
            if ($(this).valid()) {
                document.getElementById("myForm1").submit();
            }
        });
    </script>
{% endblock %}