{% extends "base.html" %}


{% block mytitle %}
    Maintenance Report
{% endblock %}


{% block mycss %}
{% endblock %}


{% block body %}
<div style="min-height: 800px">
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1 style="text-align: center">Maintenance Report</h1>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form action="{{ url_for('maintenance_report') }}" method="post">
                    <select class="form-control" name="report_type" id="report_type" onchange="this.form.submit();" required>
                        <option value="" selected="selected" disabled>---Choose a report type---</option>
                        <option value="month">Monthly Report</option>
                        <option value="year">Annual Report</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
    {% if month_flag %}
        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form action="{{ url_for('maintenance_report') }}" method="post">
                        <label for="month">Select a year and month for the monthly report:</label>
                        <select class="form-control" name="month_year" id="month_year" required>
                            <option value="" selected="selected" disabled>---Choose a year---</option>
                            {% for year in year_list %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                        <select class="form-control" name="month" id="month" required>
                            <option value="" selected="selected" disabled>---Choose a month---</option>
                            {% for month in month_list %}
                                <option value="{{ month }}">{{ month }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    {% if year_flag %}
        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form action="{{ url_for('maintenance_report') }}" method="post">
                        <label for="month">Select a year for the annual report:</label>
                        <select class="form-control" name="year" id="year" onchange="this.form.submit();" required>
                            <option value="" selected="selected" disabled>---Choose a year---</option>
                            {% for year in year_list %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <br>
    {% if title %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-5" style="text-align: center">
                <h4>{{ title }}</h4>
            </div>
            <br></br>
            {% if category_list %}
                <div class="container mt-3">
                    <div class="row justify-content-center">
                        <div class="col-md-5">
                            <h5 style="text-align: center">Number of Maintenance per Category</h5>
                            <canvas style="text-align: center;" id="myChart1"></canvas>
                            {% if number_list %}
                                <br>
                                <h5 style="text-align: center">Monthly Maintanence Number</h5>
                                <canvas style="text-align: center" id="myChart3"></canvas>
                            {% endif %}
                            <br>
                            <h3 style="text-align: center">Total number: {{ total_number }} </h3>
                            <br></br>
                            <h5 style="text-align: center">Maintenance Cost per Category</h5>
                            <canvas style="text-align: center;" id="myChart2"></canvas>
                            {% if cost_list %}
                                <br>
                                <h5 style="text-align: center">Monthly Maintenance Cost</h5>
                                <canvas style="text-align: center" id="myChart4"></canvas>
                            {% endif %}
                            <br>
                            <h3 style="text-align: center">Total cost: ${{ total_cost }} </h3>
                        </div>
                    </div>
                </div>
                <br>
            {% else %}
                <p style="text-align: center;">Nothing to show here</p>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>

</div>
{% endblock %}


{% block myjs %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx1 = document.getElementById('myChart1');
        const category_list = JSON.parse('{{ category_list|tojson }}');
        const category_total_number = JSON.parse('{{ category_total_number|tojson }}');

        new Chart(ctx1, {
            type: 'pie',
            data: {
                labels: category_list,
                datasets: [{
                    label: 'No. of Equipment',
                    data: category_total_number,
                    borderWidth: 0
                }]
            }
        });

        const ctx2 = document.getElementById('myChart2');
        const category_total_cost = JSON.parse('{{ category_total_cost|tojson }}');

        new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: category_list,
                datasets: [{
                    label: 'NZ dollars',
                    data: category_total_cost,
                    borderWidth: 0
                }]
            }
        });

        const ctx3 = document.getElementById('myChart3');
        const number_list = JSON.parse('{{ number_list|tojson }}');
        const months = JSON.parse('{{ months|tojson }}');

        new Chart(ctx3, {
            type: 'bar',
            data: {
                labels: months,
                datasets: [{
                    label: 'No. of Equipment',
                    data: number_list,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const ctx4 = document.getElementById('myChart4');
        const cost_list = JSON.parse('{{ cost_list|tojson }}');

        new Chart(ctx4, {
            type: 'bar',
            data: {
                labels: months,
                datasets: [{
                    label: 'NZ dollars',
                    data: cost_list,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>
{% endblock %}