{% extends 'base.html' %}

{% block mytitle %}

{% endblock %}


{% block mycss %}
    <style>
        .label_style {
            font-size: 20px;
            line-height: 25px;
            cursor: pointer;
        }

        .label_style:hover {
            font-weight: 700;
        }

        th, td {
            background-color: transparent !important;
        }

        .relative {
            position: relative;
        }

        .asterisk {
            color: red;
            position: absolute;
            top: 10px; /* Center vertically */
            left: 10px; /* Distance from the left edge of the input box. Adjust as needed */
            transform: translateY(-50%); /* Centering adjustment */
            pointer-events: none; /* Ensure clicks 'pass through' to the input element */
        }

        .asterisk-inside {
            padding-left: 20px; /* Adjust as needed */
        }

        .btn_ {
            font-size: 14px;
            padding: 3px 6px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <h5 class="pt-5" style="color: #ff4c00; font-weight: 700;">Admin Manage</h5>
                <ul style="padding: 0; list-style: none;">
                    <li style="margin: 20px 0;">
                        <div>
                            <input type="radio" style="display: none">
                            <label class="label_style" for="" onclick="window.location.href = '/admin/manage_customer'">Manage Customer</label>
                        </div>
                    </li>
                    <li style="margin: 20px 0;">
                        <div>
                            <input type="radio" style="display: none">
                            <label class="label_style" for="" onclick="window.location.href = '/admin/manage_staff'">Manage Staff</label>
                        </div>
                    </li>
                    <li style="margin: 20px 0;">
                        <div>
                            <input type="radio" style="display: none">
                            <label class="label_style" for="" onclick="window.location.href = '#'">Manage Equipment</label>
                        </div>
                    </li>
                    <li style="margin: 20px 0;">
                        <div>
                            <input type="radio" style="display: none">
                            <label class="label_style" for="" onclick="window.location.href = '#'">Manage Booking</label>
                        </div>
                    </li>
                </ul>
                <h5 class="pt-5" style="color: #ff4c00; font-weight: 700;">Report</h5>
                <ul style="padding: 0; list-style: none;">
                    <li style="margin: 20px 0;">
                        <div>
                            <input type="radio" style="display: none">
                            <label class="label_style" for="" onclick="window.location.href = '#'">Financial Report</label>
                        </div>
                    </li>
                    <li style="margin: 20px 0;">
                        <div>
                            <input type="radio" style="display: none">
                            <label class="label_style" for="" onclick="window.location.href = '#'">Equipment Utilization Report</label>
                        </div>
                    </li>
                    <li style="margin: 20px 0;">
                        <div>
                            <input type="radio" style="display: none">
                            <label class="label_style" for="" onclick="window.location.href = '#'">Maintenance Report</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-12">
                <dev class="d-flex">
                    <form class="d-flex" action="{{ url_for('manage_staff') }}" method="get">
                        <div class="form-group">
                            <input type="text" class="form-control mx-3" placeholder="Search" name="search" {% if staff_search %}value="{{ staff_search }}"{% endif %}>
                        </div>
                        <div class="form-group ml-2">
                            <button type="submit" class="btn btn-primary mx-3">Search</button>
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary mx-3" data-bs-toggle="modal" data-bs-target="#manage_Modal" onclick="showLink(-1)">
                        Add Staff
                    </button>
                </dev>
                <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Staff Id</th>
                        <th scope="col">Email</th>
                        <th scope="col">Name</th>
                        <th scope="col">Register Date</th>
                        <th scope="col">Last Login Date</th>
                        <th scope="col" style="width: 240px">Operate</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in staff_list %}
                        <tr>
                            <th scope="row">{{ item['staff_id'] }}</th>
                            <td>{{ item['email'] }}</td>
                            <td>{{ item['first_name'] }} {{ item['last_name'] }}</td>
                            <td>{{ item['register_date'] }}</td>
                            <td>{{ item['last_login_date'] }}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn_" data-bs-toggle="modal" data-bs-target="#manage_Modal"
                                        onclick="showLink({{ item['user_id'] }})">Edit
                                </button>
                                <button type="button" class="btn btn-danger btn_" data-bs-toggle="modal" data-bs-target="#manage_Modal2"
                                        onclick="set_password({{ item['user_id'] }})">Set Password
                                </button>
                                <button type="button" class="btn btn-danger btn_" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                        onclick="confirmDelete({{ item['user_id'] }})">Delete
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Page navigation member_">
                    <ul class="pagination justify-content-center">
                        {% if count %}
                            {% for i in range(count) %}
                                <li class="page-item"><a class="page-link" href="?page={{ i + 1 }}{% if staff_search %}&search={{ staff_search }}{% endif %}">{{ i + 1 }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="modal fade" id="manage_Modal" tabindex="-1" aria-labelledby="manage_Modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="pt-3 pb-3">
                        <div class="container w-75">
                            <form action="{{ url_for('manage_staff') }}" method="post" id="myForm1">
                                <div class="relative mb-3">
                                    <label for="title" class="asterisk mt-2"><span style="color:red">*</span>
                                    </label>
                                    <select class="form-control asterisk-inside" name="title" id="title">
                                        <option value="" selected="selected" disabled>Choose Title</option>
                                        {% for title in title_list %}
                                            <option value="{{ title.title_id }}">{{ title.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="relative mb-3">
                                    <label for="password" class="asterisk mt-2"><span style="color:red">*</span></label>
                                    <input type="text" class="form-control asterisk-inside" name="password" id="password" placeholder="Enter Password" title="Enter Password">
                                </div>
                                <div class="relative mb-3">
                                    <label for="first_name" class="asterisk mt-2"><span style="color:red">*</span></label>
                                    <input type="text" class="form-control asterisk-inside" name="first_name" id="first_name" placeholder="Enter First Name" title="Enter First Name">
                                </div>
                                <div class="relative mb-3">
                                    <label for="last_name" class="asterisk mt-2"><span style="color:red">*</span></label>
                                    <input type="text" class="form-control asterisk-inside" name="last_name" id="last_name" placeholder="Enter Last Name" title="Enter Last Name">
                                </div>
                                <div class="relative mb-3">
                                    <label for="email" class="asterisk mt-2"><span style="color:red">*</span></label>
                                    <input type="email" class="form-control asterisk-inside" name="email" id="email" placeholder="Enter Email" title="Enter Email">
                                </div>
                                <div class="relative mb-3">
                                    <label for="phone_number" class="asterisk mt-2"><span style="color:red">*</span></label>
                                    <input type="text" class="form-control asterisk-inside" name="phone_number" id="phone_number" placeholder="Enter Phone Number" title="Enter Phone Number">
                                </div>
                                <input type="hidden" id="edit_user_id" name="user_id">
                                <div class="d-grid gap-2">
                                    <input type="submit" class="btn btn-warning" value="Update">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="manage_Modal2" tabindex="-1" aria-labelledby="manage_Modal2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="pt-3 pb-3">
                        <div class="container w-75">
                            <form action="{{ url_for('admin_password') }}" method="post" id="myForm2">
                                <div class="relative mb-3">
                                    <label for="password" class="asterisk mt-2"><span style="color:red">*</span></label>
                                    <input type="text" class="form-control asterisk-inside" name="password" id="password" placeholder="Enter Password"
                                           title="Enter Password">
                                </div>
                                <input type="hidden" id="set_user_id" name="user_id">
                                <div class="d-grid gap-2">
                                    <input type="submit" class="btn btn-warning" value="Update">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_user') }}" method="post">
                        <input type="hidden" id="user_id" name="user_id">
                        <button type="submit" class="btn btn-danger my-1">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block myjs %}
    <script>
        function confirmDelete(user_id) {
            document.getElementById("user_id").value = user_id;
        }

        $("#myForm1").validate({
            rules: {
                title: "required",
                password: {
                    required: false
                },
                first_name: "required",
                last_name: "required",
                email: {
                    required: true
                },
                phone_number: {
                    required: true
                }
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                error.addClass('text-danger');
                error.insertAfter(element);
                element.addClass('is-invalid');
            },
            success: function (label, element) {
                $(element).removeClass('is-invalid');
            }
        });
        $('#myForm1').on('submit', function (event) {
            event.preventDefault();
            if ($(this).valid()) {
                document.getElementById("myForm1").submit();
            }
        });

        $("#myForm2").validate({
            rules: {
                password: {
                    required: true
                }
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                error.addClass('text-danger');
                error.insertAfter(element);
                element.addClass('is-invalid');
            },
            success: function (label, element) {
                $(element).removeClass('is-invalid');
            }
        });
        $('#myForm2').on('submit', function (event) {
            event.preventDefault();
            if ($(this).valid()) {
                document.getElementById("myForm2").submit();
            }
        });

        const staff_list = JSON.parse('{{ staff_list|tojson }}');

        function showLink(id) {
            $('#myForm1').trigger('reset');
            $('#myForm1').find('.is-invalid').removeClass('is-invalid');
            $('#myForm1').find('.text-danger').remove();
            const password = $('#password');
            const label = password.prev('label');
            if (id === -1) {
                password.show();
                label.show();
                $('#myForm1').validate().settings.rules.password = {
                    required: true,
                }
            } else {
                password.hide();
                label.hide();
                $('#myForm1').validate().settings.rules.password = {
                    required: false,
                }
                for (let i in staff_list) {
                    if (id === staff_list[i]['user_id']) {
                        document.getElementById("title").value = staff_list[i]['title_id'];
                        document.getElementById("first_name").value = staff_list[i]['first_name'];
                        document.getElementById("last_name").value = staff_list[i]['last_name'];
                        document.getElementById("email").value = staff_list[i]['email'];
                        document.getElementById("phone_number").value = staff_list[i]['phone_number'];
                    }
                }
                document.getElementById("edit_user_id").value = id;
            }
        }

        function set_password(user_id) {
            document.getElementById("set_user_id").value = user_id;
        }
    </script>
{% endblock %}