{% extends "base.html" %}


{% block mytitle %}

{% endblock %}


{% block mycss %}

{% endblock %}


{% block body %}
    <div class="container py-5" style="min-height: 800px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 style="text-align: center;">Update Personal Information</h2>
                <br>
                <h5 style="text-align: center;">Click the fields to change details and press "Update" button to submit changes</h5>
                <div class="card">
                    <div class="card-body">
                        <form action="{{ url_for('edit_detail') }}" method="post" id="myForm" onsubmit="return validateForm()">
                            <div class="input-group mb-3">
                                <label for="title" class="input-group-text">
                                    Title <span style="color:red">*</span>
                                </label>
                                <select class="form-control" name="title" id="title" required>
                                    <option value="" selected="selected" disabled>Choose Title</option>
                                    {% for title in title_list %}
                                        <option value="{{ title.title_id }}">{{ title.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <label for="first_name" class="input-group-text">
                                    First Name <span style="color:red">*</span>
                                </label>
                                <input type="text" class="form-control" name="first_name" id="first_name" value="{{ details_list.first_name }}" required>
                            </div>
                            <p id="first_name_msg" style="color: red"></p>
                            <div class="input-group mb-3">
                                <label for="last_name" class="input-group-text">
                                    Last Name <span style="color:red">*</span>
                                </label>
                                <input type="text" class="form-control" name="last_name" id="last_name" value="{{ details_list.last_name }}" required>
                            </div>
                            <p id="last_name_msg" style="color: red"></p>
                            <div class="input-group mb-3">
                                <label for="email" class="input-group-text">
                                    Email <span style="color:red">*</span>
                                </label>
                                <input type="email" class="form-control" name="email" id="email" value="{{ details_list.email }}" required>
                            </div>
                            <p id="email_msg" style="color: red"></p>
                            <div class="input-group mb-3">
                                <label for="phone_number" class="input-group-text">
                                    Phone Number <span style="color:red">*</span>
                                </label>
                                <input type="text" class="form-control" name="phone_number" id="phone_number" value="{{ details_list.phone_number }}"
                                       required>
                            </div>
                            <p id="phone_number_msg" style="color: red"></p>
                            <input type="hidden" id="user_id" name="user_id" value="{{ details_list.user_id }}">
                            <div class="d-grid gap-2">
                                <input type="submit" class="btn btn-warning" value="Update">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block myjs %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        // set default value of title
        title.value = {{ details_list.title_id }};

        //validate name, email and phone number
        const first_name_msg = document.getElementById('first_name_msg');
        const last_name_msg = document.getElementById('last_name_msg');
        const email_msg = document.getElementById('email_msg');
        const phone_number_msg = document.getElementById('phone_number_msg');
        const first_name = document.getElementById('first_name');
        const last_name = document.getElementById('last_name')
        const email = document.getElementById('email');
        const phone_number = document.getElementById('phone_number');

        function validateForm() {
            const namePattern = /^[a-zA-Z]+$/;
            const phonePattern = /^\d{7,11}$/;
            const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            if (!namePattern.test(first_name.value)) {
                first_name_msg.innerText = "First name should contain only letters.";
                first_name.classList.add("is-invalid");
                return false;
            } else {
                first_name.classList.remove("is-invalid");
                first_name_msg.innerText = "";
            }
            if (!namePattern.test(last_name.value)) {
                last_name_msg.innerText = "Last name should contain only letters.";
                last_name.classList.add("is-invalid");
                return false;
            } else {
                last_name.classList.remove("is-invalid");
                last_name_msg.innerText = "";
            }
            if (!emailPattern.test(email.value)) {
                email.classList.add("is-invalid");
                email_msg.innerText = "Invalid email. Please enter the correct format (Example: nicholas123@gmail.com).";
                return false;
            } else {
                email.classList.remove("is-invalid");
                email_msg.innerText = "";
            }
            if (!phonePattern.test(phone_number.value)) {
                phone_number.classList.add("is-invalid");
                phone_number_msg.innerText = "Invalid phone number. Please enter 7 to 11 numbers only.";
                return false;
            } else {
                phone_number.classList.remove("is-invalid");
                phone_number_msg.innerText = "";
            }
            //submit form if only all validations are passed
            return true;
        }
    </script>
{% endblock %}