{% extends "base.html" %}

<!--Password recovery page-->

{% block mytitle %}
    Password Recovery
{% endblock %}

{% block mycss %}
    <style>
        .container {
            font-family: 'Arial', sans-serif;
        }

        .card {
            border-radius: 15px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .card-header {
            background-color: #4CAF50;
            color: white;
            font-weight: bold;
            text-align: center;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .btn-primary {
            background-color: #4CAF50;
            border: none;
        }

        .btn-primary:hover {
            background-color: #45a049;
        }

        .alert-info {
            color: #31708f;
            background-color: #d9edf7;
            border-color: #bce8f1;
        }

        .relative {
            position: relative;
        }

        .asterisk {
            color: red;
            position: absolute;
            top: 10px; /* Center vertically */
            left: 10px; /* Distance from the left edge of the input box. Adjust as needed */
            transform: translateY(-50%); /* Centering adjustment */
            pointer-events: none; /* Ensure clicks 'pass through' to the input element */
        }

        .asterisk-inside {
            padding-left: 20px; /* Adjust as needed */
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1><i class="fas fa-key"></i> Reset Your Password</h1>
                    </div>
                    <div class="card-body">
                        <p class="mb-4">If you've forgotten your password, you can reset it by answering the security question below.</p>
                        <form action="{{ url_for('reset_password') }}" method="post" id="myForm1">
                            <div class="relative mb-3">
                                <label class="form-label" style="font-size: 20px;"><strong>Security Question:</strong></label>
                                <p style="font-size: 15px;">{{ question['question'] }}</p>
                            </div>
                            <div class="relative mb-3">
                                <label for="answer" class="asterisk mt-2"><span style="color:red">*</span></label>
                                <input type="text" id="answer" name="answer" class="form-control asterisk-inside" placeholder="Enter Your Answer" title="Enter Your Answer">
                                <input type="hidden" name="question_id" value="{{ question['question_id'] }}">
                            </div>
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </form>
{#                    <a href="{{ url_for('login') }}" class="d-block mt-3 text-decoration-none">Back to Login</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>
        $("#myForm1").validate({
            rules: {
                answer: {
                    required: true
                },
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                error.addClass('text-danger');
                error.insertAfter(element);
                element.addClass('is-invalid');
            },
            success: function (label, element) {
                $(element).removeClass('is-invalid');
            }
        });
        $('#myForm1').on('submit', function (event) {
            event.preventDefault();
            if ($(this).valid()) {
                document.getElementById("myForm1").submit();
            }
        });
    </script>
{% endblock %}
