{% extends "base.html" %}


{% block mytitle %}

{% endblock %}


{% block mycss %}

{% endblock %}


{% block body %}
    <form action="{{ url_for('change_password') }}" method="post">
        <label for="password"></label>
        <input type="password" name="password" id="password" placeholder="New Password" required>
        <label for="confirm_password"></label>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm New Password" required>
        <input type="hidden" name="user_id" value="{{ user_id }}">
        {{ msg }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}


{% block myjs %}

{% endblock %}