{% extends "base.html" %}

<!--HTML base page-->

{% block mytitle %}
{% endblock %}


{% block mycss %}
    <style>
        .bg-container {
            background-image: url('{{ url_for('static', filename='image/background3.jpg') }}');
            background-size: cover; 
            background-position: center; 
            color: #EECD5C; 
            padding: 20px; 
        }

        .step-box {
            transition: transform 0.3s ease-in-out; 
        }

        .step-box:hover {
            transform: scale(1.1); 
        }

        .custom-caption {
            position: static;
            padding: 20px;
        }

        .custom-caption {
            position: static;
            padding: 20px;
            margin-left: 50px;
            color: #4b4029; 
            font-family: 'Arial', sans-serif; 
        }

        .custom-caption h5 {
            font-size: 24px; 
            margin-bottom: 10px; 
        }

        .custom-caption h6 {
            font-size: 20px; 
            margin-bottom: 10px; 
        }

        .custom-caption p {
            font-size: 16px; 
        }

        .carousel-item .row {
            display: flex;
            align-items: center; 
            height: 50vh; 
        }

        .carousel-item img {
            max-height: 50vh;
            width: auto;
        }

        .carousel-inner {
            padding: 20px; 
        }

        .nav-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50vh; 
        }

        .slogan-text {
            color: #eacd76; 
            text-align: left; 
            font-weight: 700; 
            font-size: 30px;
            font-family: 'Poppins', sans-serif;
        }

        .slogan-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%; 
        }
        .nav-link {
            border: 2px solid #eeeec3; 
            border-radius: 5px; 
            margin-bottom: 5px; 
            padding-left: 50px;
            padding-right: 50px;
            text-align: center;
        }

        .nav-link:hover {
            background-color: #eacd76; 
        }

        .nav-link.active {
            background-color: #b29b5b; 
            font-weight: bold; 
        }

    </style>
{% endblock %}


{% block body %}

    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="nav-container">
                <nav class="navbar navbar-expand-md">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link active" href="/equipments" style="color:#1d1912">Equipments</a></li>
                            <li class="nav-item"><a class="nav-link" href="/equipments/Landscaping" style="color:#1d1912">Landscaping</a></li>
                            <li class="nav-item"><a class="nav-link" href="/equipments/Trailers" style="color:#1d1912">Trailers</a></li>
                            <li class="nav-item"><a class="nav-link" href="/equipments/Earthmoving" style="color:#1d1912">Earthmoving</a></li>
                            <li class="nav-item"><a class="nav-link" href="/equipments/Building-and-Renovation" style="color:#1d1912">Building and
                                Renovation</a></li>
                            <li class="nav-item"><a class="nav-link" href="/equipments/Tool-and-Equipment" style="color:#1d1912">Tool and Equipment</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <div id="carouselExampleControls" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="background-color: #1d1912;">
                        <div class="row">
                            <div class="col-md-9">
                                <img class="d-block w-100 img-fluid" src="{{ url_for('static', filename='image/mowers.jpg') }}" alt="First slide">
                            </div>
                            <div class="col-md-3 slogan-container">
                                <p class="slogan-text">It's Time To Makeover Your Lawn</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="background-color: #1d1912;">
                        <div class="row">
                            <div class="col-md-9">
                                <img class="d-block w-100 img-fluid" src="{{ url_for('static', filename='image/lifting.jpg') }}" alt="Second slide">
                            </div>
                            <div class="col-md-3 slogan-container">
                                <p class="slogan-text">Are You Worried About The Second Floor?</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="background-color: #1d1912;">
                        <div class="row">
                            <div class="col-md-9">
                                <img class="d-block w-100 img-fluid" src="{{ url_for('static', filename='image/tree_saws.jpg') }}" alt="Second slide">
                            </div>
                            <div class="col-md-3 slogan-container">
                                <p class="slogan-text">We Have The Latest Tree Saws!</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="background-color: #1d1912;">
                        <div class="row">
                            <div class="col-md-9">
                                <img class="d-block w-100 img-fluid" src="{{ url_for('static', filename='image/loaders.jpg') }}" alt="Second slide">
                            </div>
                            <div class="col-md-3 slogan-container">
                                <p class="slogan-text">It's A Chance To Play With Clay!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="mt-5 bg-container" id="about-us">
        <div class="container">
            <h2 class="mb-4">About Us</h2>
            <p>
                Welcome to Darfield Outdoor Hire. We are professional equipment hire company, with more than 500 different types of outdoor equipment for
                hire
                such as landscaping tools, trailers, earthmoving machinery, building tools and farm equipment.
            </p>

            <div class="row mt-4">
                <div class="col-md-4 step-box">
                    <div class="d-flex flex-column align-items-center">
                        <i class="mb-2" style="font-size: 2em;">🛒</i>
                        <h5>Step 1: Browse</h5>
                        <p>Explore our wide variety of outdoor equipment available for hire.</p>
                    </div>
                </div>
                <div class="col-md-4 step-box">
                    <div class="d-flex flex-column align-items-center">
                        <i class="mb-2" style="font-size: 2em;">📄</i>
                        <h5>Step 2: Select</h5>
                        <p>Choose the equipment that best suits your needs and add it to your cart.</p>
                    </div>
                </div>
                <div class="col-md-4 step-box">
                    <div class="d-flex flex-column align-items-center">
                        <i class="mb-2" style="font-size: 2em;">🚚</i>
                        <h5>Step 3: Hire</h5>
                        <p>Complete the hiring process and get the equipment delivered to your location.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block myjs %}
    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 5000 
            });
        });
    </script>
{% endblock %}