{% extends "base.html" %}

<!--Login page-->

{% block mytitle %}
    Login
{% endblock %}

{% block mycss %}
    <style>
        .action-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5rem;
        }

        .forgot-password {
            color: red;
        }

        .relative {
            position: relative;
        }

        .asterisk {
            color: red;
            position: absolute;
            top: 10px; /* Center vertically */
            left: 10px; /* Distance from the left edge of the input box. Adjust as needed */
            transform: translateY(-50%); /* Centering adjustment */
            pointer-events: none; /* Ensure clicks 'pass through' to the input element */
        }

        .asterisk-inside {
            padding-left: 20px; /* Adjust as needed */
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 style="color: rgb(243, 176, 89);">Login</h2>
                <div class="card">
                    <div class="card-body">
                        <form action="{{ url_for('login') }}" method="post" id="myForm1">
                            <div class="relative mb-3">
                                <label for="email" class="asterisk mt-2"><span class="text-danger">*</span></label>
                                <input type="email" class="form-control asterisk-inside" id="email" name="email" value="{{ request.form['email'] }}" placeholder="Enter Email Address" title="Enter Email Address">
                            </div>
                            <div class="relative mb-3">
                                <label for="password" class="asterisk mt-2"><span class="text-danger">*</span></label>
                                <input type="password" class="form-control asterisk-inside" id="password" name="password" placeholder="Enter Password" title="Enter Password">
                            </div>
                            <div class="action-row">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="rememberMe">
                                    <label class="form-check-label" for="rememberMe">Remember me</label>
                                </div>
                                <a href="{{ url_for('reset_password') }}" class="forgot-password">Forgot your password?</a>
                            </div>
                            <button type="submit" class="btn btn-danger" style="background-color: brown; color: rgb(243, 238, 238);">Login <i class="bi bi-arrow-right"></i></button>
                        </form>
                        <p class="mt-3 text-danger">Not registered yet? <a href="{{ url_for('register') }}">Sign up now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>
        // Add the 'regex' custom validation method
        $.validator.addMethod("regex", function (value, element, regexpr) {
            return regexpr.test(value);
        }, "Invalid value.");

        // Add the 'pwcheck' custom validation method
        $.validator.addMethod("pwcheck", function (value) {
            return /[a-z]/.test(value) && /[A-Z]/.test(value) && /\d/.test(value);
        }, "Password must contain uppercase and lowercase letters and numbers.");

        $("#myForm1").validate({
            rules: {
                email: {
                    required: true,
                    regex: /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/
                },
                password: {
                    required: true,
                    minlength: 8,
                    pwcheck: true
                },
            },
            messages: {
                email: {
                    required: "Please enter email address",
                    regex: "Please enter a valid email address"
                },
                password: {
                    required: "Please enter password",
                    minlength: "Password needs to be at least 8 characters",
                    pwcheck: "Password must contain uppercase and lowercase letters and numbers"
                },
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                error.addClass('text-danger');
                error.insertAfter(element);
                element.addClass('is-invalid');
            },
            success: function (label, element) {
                $(element).removeClass('is-invalid');
            }
        });
        $('#myForm1').on('submit', function (event) {
            event.preventDefault();
            if ($(this).valid()) {
                document.getElementById("myForm1").submit();
            }
        });
    </script>
{% endblock %}
