{% extends "base.html" %}

{% block mytitle %}
    Sign Up
{% endblock %}

{% block mycss %}
    <style>
        .form-section {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 5px;
            margin-top: 20px;
        }

        .extra-margin {
            margin-right: 80px;
        }

        .tip-text {
            font-size: 12px;
            color: #5c5a5aa2;
            margin-top: 5px;
        }

        /* Positioned relative to allow absolute positioning within */
        .relative {
            position: relative;
        }

        /* Styling the red asterisk */
        .asterisk {
            color: red;
            position: absolute;
            top: 10px; /* Center vertically */
            left: 10px; /* Distance from the left edge of the input box. Adjust as needed */
            transform: translateY(-50%); /* Centering adjustment */
            pointer-events: none; /* Ensure clicks 'pass through' to the input element */
        }

        /* Adding padding to the input box to avoid overlap with text */
        .asterisk-inside {
            padding-left: 20px; /* Adjust as needed */
        }


        .icon {
            font-size: 18px;
            margin-right: 5px;
        }

        .small-checkbox .form-check-input {
            width: 18px;
            height: 18px;
        }

        .small-checkbox .form-check-label {
            font-size: 14px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="form-section">
            <h2 class="mb-4" style="color: brown;">Customer Sign Up</h2>
            <form class="mt-4" action="{{ url_for('register') }}" method="post" id="myForm1">
                <div class="row g-6">
                    <div class="col-md-5 col-sm-12 extra-margin">
                        <div class="mb-3 relative">
                            <span class="asterisk mt-2">*</span>
                            <input type="email" class="form-control asterisk-inside" id="email" name="email" placeholder="Enter your email" value="{{ request.form['email'] }}" >
                        </div>
                        <div class="mb-3 relative">
                            <span class="asterisk mt-2">*</span>
                            <input type="password" class="form-control asterisk-inside" id="password" name="password" placeholder="Enter your password"  value="{{ request.form['password'] }}" >
                        </div>
                        <!-- Reduced margin-bottom -->
                        <div class="mb-3 relative" style="margin-bottom: 5px;">
                            <span class="asterisk mt-2">*</span>
                            <input type="password" class="form-control asterisk-inside" id="confirm_password" name="confirm_password" placeholder="Confirm your password" value="{{ request.form['confirm_password'] }}" >
                            <!-- Reduced margin-top -->
                            <div id="password-strength" class="tip-text" style="margin-top: 5px;">
                                Password has to be at least 8 characters in length...
                            </div>
                        </div>
                        <div class="mb-3 relative">
                            <label class="asterisk mt-2">*</label>
                            <input type="text" class="form-control asterisk-inside" name="birth_date" id="birth_date" placeholder="Enter Birth Date" title="Enter Birth Date">
                        </div>
                        <div class="mb-3 relative">
                            <span class="asterisk mt-2">*</span>
                            <input type="text" class="form-control asterisk-inside" id="given_name" name="given_name" placeholder="Enter your given name"
                                   value="{{ request.form['given_name'] }}" >
                        </div>
                        <div class="mb-3 relative">
                            <span class="asterisk mt-2">*</span>
                            <input type="text" class="form-control asterisk-inside" id="surname" name="surname" placeholder="Enter your surname"
                                   value="{{ request.form['surname'] }}" >
                            <div id="name-char-limit" class="tip-text" style="margin-top: 5px;">The name fields can only accept 30 characters combined
                                (characters left: <span id="char-count">30</span>)
                            </div>
                        </div>
                        <div class="mb-3 relative">
                            <span class="asterisk mt-2">*</span>
                            <input type="tel" class="form-control asterisk-inside" id="phone_number" name="phone_number"
                                   placeholder="Enter your phone number" value="{{ request.form['phone_number'] }}" >
                        </div>
                        <div class="mb-3 relative">
                            <span class="asterisk mt-2">*</span>
                            <select class="form-select asterisk-inside" name="region_id" id="region_id" onchange="update_region()" >
                                <option value="" {% if not request.form['region_id'] %}selected="selected"{% endif %} disabled>Choose Region</option>
                                {% for region in regions %}
                                    <option value="{{ region['region_id'] }}"
                                            {% if request.form['region_id'] == region['region_id']|string %}selected="selected"{% endif %}>{{ region['region'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3 relative">
                            <span class="asterisk mt-2">*</span>
                            <select class="form-select asterisk-inside" name="city_id" id="city_id" >
                                <option value="" selected="selected" disabled>Choose city</option>
                            </select>
                        </div>
                        <div class="mb-3 relative">
                            <span class="asterisk mt-2">*</span>
                            <input type="text" class="form-control asterisk-inside" id="address" name="address" placeholder="Enter your address"
                                   value="{{ request.form['address'] }}" >
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12"> <!-- Right Column -->
                        <div class="mb-3 relative">
                            <span class="asterisk mt-2">*</span>
                            <select class="form-select asterisk-inside" id="title" name="title" value="{{ request.form['title'] }}" >
                                <option value="" {% if not request.form['title'] %}selected="selected"{% endif %} disabled>Choose Title</option>
                                {% for title in titles %}
                                    <option value="{{ title['title_id'] }}"
                                            {% if request.form['title_id'] == title['title_id'] %}selected="selected"{% endif %}>{{ title['title'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3 relative">
                            <span class="asterisk mt-2">*</span>
                            <select class="form-select asterisk-inside" id="question" name="question" value="{{ request.form['question'] }}" >
                                <option selected="selected" disabled>Choose a Security Question</option>
                                {% for question in questions %}
                                    <option value="{{ question['question_id'] }}">{{ question['question'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3 relative">
                            <span class="asterisk mt-2">*</span>
                            <input type="text" class="form-control asterisk-inside" id="answer" name="answer" placeholder="Enter your answer"
                                   value="{{ request.form['answer'] }}" >
                        </div>
                        <div class="mb-3 relative">
                            <!-- Reduced margin-bottom here -->
                            <div class="mb-1 form-check form-check-inline small-checkbox">
                                <label class="form-check-label tip-text" for="agreeCheckbox">Yes, I agree to receive exclusive offers, updates, and
                                    promotions.</label>
                                <input type="checkbox" class="form-check-input" id="agreeCheckbox" name="agreeCheckbox">
                            </div>
                            <div class="mb-3 form-check form-check-inline small-checkbox" style="margin-top: 0;">
                                <label class="form-check-label tip-text" for="readAgreementCheckbox">I have read and agree to the <a
                                        href="#">Terms and Conditions</a> of the Online Booking Request.</label>
                                <input type="checkbox" class="form-check-input" id="readAgreementCheckbox" name="readAgreementCheckbox">
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-danger" style="background-color: brown; color: rgb(243, 238, 238);">REQUEST TO SIGN UP
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
{#        <p class="mt-3"><a href="{{ url_for('login') }}">Back to Login</a></p>#}
    </div>
{% endblock %}


{% block myjs %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        //birthdate validation
        flatpickr("#birth_date", {
            minDate: "1930-01-01",
            maxDate: "2003-12-31",
            dateFormat: "d M Y",
        });

        const city_list = JSON.parse('{{ cities|tojson }}');
        const region = document.getElementById('region_id');
        const city = document.getElementById('city_id');
        const prev_city = "{{ request.form['city_id'] }}";

        function update_region() {
            city.innerHTML = '<option value="" selected="selected" disabled>Choose City</option>';
            for (const j in city_list) {
                if (String(city_list[j]['region_id']) === region.value) {
                    const option = document.createElement('option');
                    option.value = city_list[j]['city_id'];
                    option.text = city_list[j]['city'];
                    city.appendChild(option);
                    if (option.value === prev_city) {
                        option.selected = true;
                    }
                }
            }
        }

        // Add the 'regex' custom validation method
        $.validator.addMethod("regex", function (value, element, regexpr) {
            return regexpr.test(value);
        }, "Invalid value.");

        // Add the 'pwcheck' custom validation method
        $.validator.addMethod("pwcheck", function (value) {
            return /[a-z]/.test(value) && /[A-Z]/.test(value) && /\d/.test(value);
        }, "Password must contain uppercase and lowercase letters and numbers.");

        $.validator.addMethod("phoneNZ", function (value, element) {
            return this.optional(element) || /^02\d{7,10}$/.test(value);
        }, "Please enter a valid New Zealand mobile number");

        $("#myForm1").validate({
            rules: {
                email: {
                    required: true,
                    regex: /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/
                },
                password: {
                    required: true,
                    minlength: 8,
                    pwcheck: true
                },
                confirm_password: {
                    required: true,
                    minlength: 8,
                    equalTo: "#password",
                    pwcheck: true
                },
                birth_date: "required",
                given_name: "required",
                surname: "required",
                phone_number: {
                    required: true,
                    phoneNZ: true
                },
                region_id: "required",
                city_id: "required",
                address: "required",
                title: "required",
                question: "required",
                answer: "required",
                agreeCheckbox: "required",
                readAgreementCheckbox: "required",
            },
            messages: {
                email: {
                    required: "Please enter email address",
                    regex: "Please enter a valid email address"
                },
                password: {
                    required: "Please enter password",
                    minlength: "Password needs to be at least 8 characters",
                    pwcheck: "Password must contain uppercase and lowercase letters and numbers"
                },
                confirm_password: {
                    required: "Please enter new password again",
                    minlength: "Confirm password requires at least 8 characters",
                    equalTo: "The passwords entered twice are inconsistent",
                    pwcheck: "Password must contain uppercase and lowercase letters and numbers"
                },
                phone_number: {
                    required: "Please enter the phone number",
                    phoneNZ: "Please enter a valid New Zealand mobile number"
                },
                agreeCheckbox: {
                    required: 'You must agree to the terms and conditions',
                },
                readAgreementCheckbox: {
                    required: 'You must agree to the terms and conditions',
                },
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                error.addClass('text-danger');
                error.insertAfter(element);
                element.addClass('is-invalid');
            },
            success: function (label, element) {
                $(element).removeClass('is-invalid');
            }
        });
        $('#myForm1').on('submit', function (event) {
            event.preventDefault();
            if ($(this).valid()) {
                document.getElementById("myForm1").submit();
            }
        });
    </script>
{% endblock %}

